<div class="card" >
    <mat-card  >
        <app-card class="bg-blue-400" icon="groups" content="Users" total="4200" ></app-card>
    </mat-card>
    <mat-card>
        <app-card class="bg-blue-100" icon="visibility" content="Daily Visits" total="3143"></app-card>
    </mat-card>
    <mat-card>
        <app-card class="bg-red-400" icon="shopping_cart" content="Products" total="5500"></app-card>
    </mat-card>
    <mat-card>
        <app-card class="bg-blue-300" icon="shopping_cart_checkout" content="Daily Orders" total="368"></app-card>
    </mat-card>

</div>


<div>
    <app-areachart></app-areachart>
</div>
<div class="parent">
    <app-table></app-table>
    <app-piechart></app-piechart>
</div>

