<div class="container p-3">
    <h1 style="font-size: 35px; color: indigo; font-family: 'Gill Sans', 'Gill Sans MT', sans-serif" class="text-center " >About</h1>
    <div class="row">
        <h3><b>Top Searches By Price:</b> </h3>
      <p>Mobile Phones Under 5000 | Mobile Phones Under 10000 | Mobile Phones Under 15000 | Mobile Phones Under 20000 
        | Mobile Phones Under 25000 | Mobile Phones Under 30000 | Best Tablets Under 10000 | Best Tablet Under 20000 |
         Best Tablet Under 50000</p>
         <h3><b> Top Searches By Brand:</b></h3>
         <p>
            Samsung Mobile Phones | Apple Mobile Phones | Xiaomi Mobile Phoes | OnePlus Mobile Phones | Realme Mobile Phones 
            | LG Mobile Phones | Asus Mobile Phones | Lava Mobile Phones | Huawei Mobile Phones | Infinix Mobile Phones |
             Nokia Mobile Phones | Oppo Mobile Phones | Vivo Mobile Phones | Motorola Mobile Phones</p>
             <h3><b>Best Selling Air Conditioner Brands:</b> </h3>
      <p>Best Selling Air Conditioner Brands:
        Samsung Air Conditioner | Voltas Air Conditioner | Godrej Air Conditioner | Impex Air Conditioner | Lloyd Air Conditioner</p>

        <h3><b>Top Selling TV Brands:</b> </h3>
        <p>
            Mi | TCL | Impex | Sony | Samsung | LG | Realme | OnePlus | Nestron | Treeview | Onix | Smart Light | MR | Kishaki | Iffalcon | iBell | G-Ten | MY Connect | Golden Prime | Dianora</p>

            <h3><b>Top Selling Laptops & Computers:</b> </h3>
        <p>Apple | HP | Dell | Asus | Acer | Lenovo | MSI | Toshiba | Mi</p>

        <h3><b>Other Accesories: </b> </h3>
        <p> Headphones & Headsets | Power Banks | Memory Cards | Smart Wearables | Bluetooth Speakers | Sound Bars</p>

        <p>Started as 3G mobile world in 2006, selling electronic gadgets in showrooms to become the No.1 Smartphone Store in the state. We rebranded ourself as E-kart transforming the retail experience to new generation digital experience.</p>

        <h3><b>FREE Delivery</b> </h3>
        <p>We never keep customers waiting for days altogether to receive their orders. Our delivery is fast, hassle-free and easy. 

            We offer same day FREE delivery to all our eligible customers based on stock availability <br>
            
            * Orders might get delayed as we are facing difficulties in moving stock transfers due to Covid 19 restrictions.</p>
            <h3><b>Customer Care</b></h3>
            <p>No matter what the issue, each query is given highest priority and dealt with immediately until the customer is satisfied. Experienced executives act with haste and precision to maintain optimum customer care.</p>
    </div>
</div>
