
<h2 class="text-center my-5">Laptop</h2>
<div class="card ">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/kwnv6a80/computer/9/c/i/-original-imag9aajekwegabt.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">ASUS Chromebook</mat-card-content>
        <mat-card-content>Dual Core(4GB / 64GB)</mat-card-content>
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/computer/4/b/h/-original-imagp7pfa6tscqpx.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Hp 15s</mat-card-content>
        
        <mat-card-content>Intel Core i5 11th Gen</mat-card-content>

    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/computer/n/i/u/-original-imagpa5fbvqzk2xn.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Lenova Ideapad slim3</mat-card-content>
        <mat-card-content class="text-center">Intel Core i3 11th Gen</mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/l2qhjm80/computer/l/t/g/gf63-thin-11uc-867in-gaming-laptop-msi-original-imageyk5hzuthuyf.jpeg?q=70" alt="">
        <mat-card-content class="text-center">MSI Core i5 12th Gen</mat-card-content>
        <mat-card-content class="text-center">(16GB/512GB SSD)</mat-card-content>
    </mat-card>

</div>

<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/computer/t/d/v/xl30-thin-and-light-laptop-infinix-original-imagzmncdyme776h.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">Infinix Y1 Plus Neo Intel</mat-card-content>
        <mat-card-content> Celeron Quad Core</mat-card-content>
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/kp5sya80/screen-guard/tempered-glass/o/v/n/apple-macbook-air-m1-13-3-inch-lightwings-original-imag3gh5xftgbpg3.jpeg?q=70" alt="">
        <mat-card-content class="text-center">APPLE 2020</mat-card-content>
        <mat-card-content class="text-center">Macbook Air M1</mat-card-content>

    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/kwnv6a80/computer/9/c/i/-original-imag9aajekwegabt.jpeg?q=70" alt="">
        <mat-card-content class="text-center">DELL Inspiron</mat-card-content>
        <mat-card-content class="text-center">i5 11th Gen </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/computer/y/l/p/-original-imagqmqjv5cyvbup.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Acer Extensa</mat-card-content>
        <mat-card-content class="text-center">Ryzen 5 Quad Core 7520U</mat-card-content>
    </mat-card>

</div>

<h2 class="text-center py-5">Mobiles</h2>
<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/ktketu80/mobile/s/l/c/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">APPLE </mat-card-content>
        <mat-card-content class="text-center">iphone 13</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/ktketu80/mobile/z/h/v/iphone-13-pro-mlvq3hn-a-apple-original-imag6vpc6mx3zwhz.jpeg?q=70" alt="">
        <mat-card-content class="text-center">APPLE </mat-card-content>
        <mat-card-content class="text-center">iphone 13pro</mat-card-content>

    </mat-card>
    <mat-card>
        <img height="530px" src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/m/9/7/-original-imagrxbuvyjxa9vb.jpeg?q=70" alt="">
        <mat-card-content class="text-center">OPPO</mat-card-content>
        <mat-card-content class="text-center">Oppo F21s pro </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/h/h/d/-original-imags487gaqqhcea.jpeg?q=70" alt="">
        <mat-card-content class="text-center">REALME</mat-card-content>
        <mat-card-content class="text-center">Real me C53</mat-card-content>
    </mat-card>

</div>

<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/kzpw2vk0/mobile/u/o/q/galaxy-s21-fe-5g-lavender-8gb-128gb-storage-sm-g990elviinu-original-imagbnbdaj3tygup.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">SAMSUNG</mat-card-content>
        <mat-card-content class="text-center">S21 FE-5g</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/z/b/d/-original-imagpgx48f4szdvf.jpeg?q=70" alt="">
        <mat-card-content class="text-center">GOOGLE  </mat-card-content>
        <mat-card-content class="text-center">Pixel 7a</mat-card-content>

    </mat-card>
    <mat-card>
        <img height="530px" src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/x/7/p/-original-imagr9y5a3qdkkge.jpeg?q=70" alt="">
        <mat-card-content class="text-center">OPPO</mat-card-content>
        <mat-card-content class="text-center">Reno 10pro</mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/6/x/j/-original-imaghxejqvpwfqh2.jpeg?q=70" alt="">
        <mat-card-content class="text-center">APPLE</mat-card-content>
        <mat-card-content class="text-center">iphone 14pro Max</mat-card-content>
    </mat-card>

</div>

<h2 class="text-center py-5">Tv</h2>
<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/1/k/b/-original-imagrzhydhjyhxtf.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">Mi A series 100 cm </mat-card-content>
        <mat-card-content class="text-center">(40 inch)</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/kzfvzww0/television/e/b/b/32hd2a00-32-y1s-oneplus-original-imagbgcewfqywgk7.jpeg?q=70" alt="">
        <mat-card-content class="text-center">OnePlus Y1S 80 cm </mat-card-content>
        <mat-card-content class="text-center">(32 inch)</mat-card-content>

    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/j/1/2/32hdgdmwsbe-motorola-original-imagrwh5ghsevqnf.jpeg?q=70" alt="">
        <mat-card-content class="text-center">MOTOROLA Envision X</mat-card-content>
        <mat-card-content class="text-center">(32 inch) </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/h/a/r/-original-imaghgphdj9fsvzt.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Realme 80 </mat-card-content>
        <mat-card-content class="text-center">(32 inch)</mat-card-content>
    </mat-card>

</div>

<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/l47cu4w0/television/v/9/l/-original-imagf5qugwkqdvfg.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">Samsung 4K Neo Series</mat-card-content>
        <mat-card-content class="text-center">(55 inch)</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/l572ufk0/television/e/f/g/32y1-32y1-infinix-original-imagfxczrxjjwxvf.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Infinix Y1 80 cm </mat-card-content>
        <mat-card-content class="text-center">(32 inch)</mat-card-content>

    </mat-card>
    <mat-card>
        <img height="530px" src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/9/6/g/-original-imagnrjvxdhqr84v.jpeg?q=70" alt="">
        <mat-card-content class="text-center">TCL 80.04 cm</mat-card-content>
        <mat-card-content class="text-center">(32 inch)</mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/z/k/v/th-32ms660dx-panasonic-original-imagrgzd239tzghj.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Panasonic 80 cm</mat-card-content>
        <mat-card-content class="text-center">(32 inch)</mat-card-content>
    </mat-card>

</div>

<h2 class="text-center py-5">Camera</h2>
<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/jfbfde80/camera/n/r/n/canon-eos-eos-3000d-dslr-original-imaf3t5h9yuyc5zu.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">Canon EOS 3000D </mat-card-content>
        <mat-card-content class="text-center">DSLR Camera</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/l5jxt3k0/dslr-camera/m/n/a/-original-imagg7hsggshhwbz.jpeg?q=70" alt="">
        <mat-card-content class="text-center">SONY Alpha ILCE-7M2K</mat-card-content>
        <mat-card-content class="text-center">Mirrorless Camera</mat-card-content>

    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/jrqo70w0/dslr-camera/e/d/c/d7500-d7500-nikon-original-imaf6n7gk7zkeybb.jpeg?q=70" alt="">
        <mat-card-content class="text-center">NIKON D7500</mat-card-content>
        <mat-card-content class="text-center">DSLR Camera </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/dslr-camera/e/h/v/dmc-g85kgw-k-16-dmc-g85kgw-k-panasonic-original-imagzknqpwukucj8.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Panasonic G85KGW-K </mat-card-content>
        <mat-card-content class="text-center">Mirrorless Camera</mat-card-content>
    </mat-card>

</div>

<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/sports-action-camera/k/c/j/waterproof-hero11-2-27-23-chdhx-111-rw-gopro-original-imagg5bnxd5r3ac7.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">GoPro Hero11</mat-card-content>
        <mat-card-content class="text-center">Action Camera</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/kf75fgw0/sports-action-camera/n/x/f/hero-9-hero-chdhx-901-gopro-original-imafvzw4qhgprxhh.jpeg?q=70" alt="">
        <mat-card-content class="text-center">GoPro Hero9 Sports</mat-card-content>
        <mat-card-content class="text-center">Action Camera</mat-card-content>

    </mat-card>
    <mat-card>
        <img height="530px" src="https://rukminim2.flixcart.com/image/416/416/xif0q/sports-action-camera/f/u/m/action-4-standard-combo-osmo-action-2-25-12-ac003-dji-original-imagrvgedzwthwjb.jpeg?q=70" alt="">
        <mat-card-content class="text-center">dji Osmo Action</mat-card-content>
        <mat-card-content class="text-center">Action Camera </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/kuyf8nk0/sports-action-camera/p/e/z/black-waterproof-action-camera-with-front-lcd-and-touch-rear-original-imag7yg4haansvzn.jpeg?q=70" alt="">
        <mat-card-content class="text-center">GoPro Hero 10 </mat-card-content>
        <mat-card-content class="text-center">Action Camera</mat-card-content>
    </mat-card>

</div>

<h2 class="text-center py-5">Headphones</h2>
<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/0/v/m/nord-buds-2-oneplus-original-imagnwf7sgjetqwg.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">OnePlus Nord Buds 2 </mat-card-content>
        <mat-card-content class="text-center">Wireless Earbuds</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/p/0/p/-original-imagp6skfbnypq5g.jpeg?q=70" alt="">
        <mat-card-content class="text-center mt-5">Noise Buds VS102</mat-card-content>
        <mat-card-content class="text-center">Jet Black, True Wireless</mat-card-content>

    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/p/p/w/-original-imagshf779zvvhde.jpeg?q=70" alt="">
        <mat-card-content class="text-center mt-5">Noise Buds Combat Z</mat-card-content>
        <mat-card-content class="text-center">Stealth Black, True Wireless </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/2/0/5/-original-imagn477vgpw7usk.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Noise Buds Combat</mat-card-content>
        <mat-card-content class="text-center">Covert white, True Wireless</mat-card-content>
    </mat-card>

</div>

<div class="card">
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/s/z/b/-original-imagznsrnzhtnbv7.jpeg?q=70" alt="">
        <!-- <app-card ></app-card> -->
        <mat-card-content class="text-center">boAt Rockerz 551</mat-card-content>
        <mat-card-content class="text-center">Stellar Black, On the Ear</mat-card-content>
        
    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/l09w8sw0/headphone/0/r/x/-original-imagc3grgj9expw9.jpeg?q=70" alt="">
        <mat-card-content class="text-center">Wings Vader 100 </mat-card-content>
        <mat-card-content class="text-center">Red, On the Ear</mat-card-content>

    </mat-card>
    <mat-card>
        <img  src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/i/v/v/hot-sell-p9-max-headphone-wireless-gaming-headset-deep-bass-original-imagq2uff2hebwwy.jpeg?q=70" alt="">
        <mat-card-content class="text-center mt-5 ">dji Osmo Action</mat-card-content>
        <mat-card-content class="text-center">Action Camera </mat-card-content>
    </mat-card>
    <mat-card>
        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/headphone/j/c/b/elite-hp80-with-upto-12-hour-play-back-reason-original-imagz4teqxhzhtze.jpeg?q=70" alt="">
        <mat-card-content class="text-center mt-4">reason Elite-HP80 </mat-card-content>
        <mat-card-content class="text-center">Black, On the Ear</mat-card-content>
    </mat-card>

</div>